*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Ubuntu", sans-serif;
}
.header {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 244px 310px;
    column-gap: 702px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    width: 100%;
  }
  .nav{
    display: flex;
    justify-content: space-between;
  }
  
  .nav li{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
    list-style-type: none;
  }
  
  .nav a {
    text-decoration: none;
    color: #FDFDFD;
  }
.contato{
    padding-top: 82px;
    padding-bottom: 97px;
    display: grid;
    justify-content: center;
    grid-template-columns: 493px 444px;
    column-gap: 201px;
}
.contato h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 45.96px;
    color: #ff4081;
    margin-bottom: 44px;
}
.contato form input{
    font-family: "Nunito",sans-serif;
    width: 493px;
    border: #686868 1px solid;
    margin-bottom: 15px;
    border-radius: 7px;
    padding-left: 22px;
}
.formnome input{
    line-height: 21px;
    height: 32px;
    font-size: 16px;
    font-weight: 400;
    color: #58555d;
    padding-left: 22px;
}
.formemail input{
    line-height: 21px;
    height: 32px;
    font-size: 16px;
    font-weight: 400;
    color: #58555d;
}
.formmensagem input{
    line-height: 21px;
    height: 193px;
    font-size: 16px;
    font-weight: 400;
    color: #58555d;
}
.contato button{
    width: 108px;
    height: 32px;
    background-color: #ff4081;
    color: #ffffff;
    border-radius: 50px;
    border: 0px;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
}
.footer{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 312px 208px 289px;
    column-gap: 183px;
    padding-top: 50px;
    padding-bottom: 42px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}
.nav-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.nav-footer li{
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #ffffff;
    list-style-type: none;
}
.nav-footer a{
    text-decoration: none;
    color: #ffffff;
}
.botao-footer button{
    width: 289px;
    height: 51px;
    background-color: transparent;
    border:#ffffff 2px solid;
    border-radius: 62px;
}
.botao-footer a{
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}
.bt1{
    margin-bottom: 13px;
}

@media only screen and (max-width: 1040px) and (min-width: 768px){
    body{
        width: 100%;
    }
    .header {
        grid-template-columns: 710px;
        padding-top: 10px;
      }
      .header img{
        margin-left: 233px;
      }
      .nav{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 102.5px;
        margin-right: 102.5px;
      }
    .contato{
        padding-top: 30px;
        grid-template-columns: 724px;
    }
    .contato h1{
        font-size: 50px;
        font-weight: 700;
        color: #ff4081;
        margin-bottom: 30px;
        text-align: center;
    }
    .contato form input{
        width: 724px;
        border: #686868 1px solid;
        margin-bottom: 15px;
        padding-left: 22px;
    }
    .contato button{
        width: 50%;
        height: 15%;
        font-size: 16px;
        font-family: "Nunito", sans-serif;
        font-weight: 800;
        margin-bottom: 40px;
        margin-left: 0px;
    }
    .contato img{
        width: 50%;
        height: 250px;
        margin-left: 181px;
        margin-top: 20px;
    }
    .footer{
        grid-template-columns: 720px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .imagemfooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .nav-footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-bottom: 25px;
        justify-content: center;
        
    }
    .nav-footer li{
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        color: #ffffff;
        list-style-type: none;
        padding: 0px 15px;
    }
    .nav-footer a{
        text-decoration: none;
        color: #ffffff;
    }
    .botao-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .botao-footer button{
        width: 289px;
        height: 51px;
        background-color: transparent;
        border:#ffffff 2px solid;
        border-radius: 62px;
    }
    .botao-footer a{
        font-size: 20px;
        line-height: 23px;
        font-weight: 400;
        text-decoration: none;
        color: #ffffff;
    }
    .bt1{
        margin-bottom: 13px;
    }
}
@media only screen and (max-width: 540px) and (min-width: 375px){
    body{
        width: 100%;
    }
    .header {
        grid-template-columns: 350px;
        padding-top: 10px;
      }
      .header img{
        margin-left: 53px;
      }
      .nav{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      
      .nav li{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        color: #FDFDFD;
        list-style-type: none;
      }
    .contato{
        padding-top: 30px;
        grid-template-columns: 370px;
    }
    .contato h1{
        font-size: 35px;
        font-weight: 700;
        color: #ff4081;
        margin-bottom: 30px;
        text-align: center;
    }
    .contato form input{
        width: 360px;
        border: #686868 1px solid;
        margin-bottom: 15px;
        padding-left: 22px;
    }
    .contato button{
        width: 50%;
        height: 15%;
        font-size: 16px;
        font-family: "Nunito", sans-serif;
        font-weight: 800;
        margin-bottom: 40px;
        margin-left: 92.5px;
    }
    .contato img{
        width: 200px;
        height: 200px;
        margin-left: 87.5px;
        margin-top: 20px;
    }
    .footer{
        grid-template-columns: 350px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .imagemfooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .nav-footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-bottom: 25px;
        justify-content: center;
        
    }
    .nav-footer li{
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        color: #ffffff;
        list-style-type: none;
        padding: 0px 15px;
    }
    .nav-footer a{
        text-decoration: none;
        color: #ffffff;
    }
    .botao-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .botao-footer button{
        width: 289px;
        height: 51px;
        background-color: transparent;
        border:#ffffff 2px solid;
        border-radius: 62px;
    }
    .botao-footer a{
        font-size: 20px;
        line-height: 23px;
        font-weight: 400;
        text-decoration: none;
        color: #ffffff;
    }
    .bt1{
        margin-bottom: 13px;
    }
    

}
