*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Ubuntu", sans-serif;
}
header{
    width: 100%;
    height: 117px;
    display: flex;
    justify-content: space-around;
    background-color: #2E948A;
    padding: 20px 103px 20px 82px;
}
header ul{
    display: flex;
    align-items: center;
}
header ul li{
    list-style-type: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 22.98px;
}
.titulo-cursos{
    margin-top: 81px;
    margin-left: 82px;
    margin-bottom: 95px;
}
.titulo-cursos h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 68.94px;
    color: #ff4081;
}
.titulo-cursos span{
    font-size: 20px;
    font-weight: 400;
    line-height: 22.98px;
    color: #555555;
}
.investimento-iniciantes{
    padding-top: 95px;
    padding-bottom: 68px;
    display: grid;
    grid-template-columns: 380px 724px;
    column-gap: 53px;
    justify-content: center;
    
}
.conteudo-investimento h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 40.22px;
    color: #ff4081;
    margin-bottom: 37px;
}
.conteudo-investimento p{
    font-size: 18px;
    font-weight: 300;
    line-height: 20.68px;
    margin-bottom: 53px;
}
.conteudo-investimento button {
    background-color: #419488;    
    width: 233px;
    height: 51px;
    border-radius: 62px;
    text-decoration: none;
    border: 0px;
}
.conteudo-investimento button a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.98px;
}
.poupandoerendendo{
    margin-top: 107px;
    margin-bottom: 93px;
    display: grid;
    grid-template-columns: 380px 724px;
    column-gap: 53px;
    justify-content: center;
}
.poupandoerendendo h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 40.22px;
    color: #ff4081;
    margin-bottom: 37px;
}
.poupandoerendendo p{
    font-size: 18px;
    font-weight: 300;
    line-height: 20.68px;
    margin-bottom: 53px;
}
.poupandoerendendo button{
    background-color: #419488;    
    width: 233px;
    height: 51px;
    border-radius: 62px;
    border: 0px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.98px;
}
.barracinza1{
    background-color: #c4c4c4;
    height: 5px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.independenciafinanceira{
    margin-top: 93px;
    display: grid;
    grid-template-columns: 380px 724px;
    column-gap: 53px;
    justify-content: center;
}
.independenciafinanceira h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 40.22px;
    color: #ff4081;
    margin-bottom: 37px;
}
.independenciafinanceira p{
    font-size: 18px;
    font-weight: 300;
    line-height: 20.68px;
    margin-bottom: 53px;
}
.independenciafinanceira button{
    background-color: #419488;    
    width: 233px;
    height: 51px;
    border-radius: 62px;
    border: 0px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.98px;
}
@media only screen and (max-width: 540px) and (min-width: 375px){
    body{
        width: 100%;
    }
    .titulo-cursos{
        display: grid;
        justify-content: center;
        margin-top: 50px;
        margin-left: 0;
        margin-bottom: 50px;
    }
    .titulo-cursos h1{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        color: #ff4081;
    }
    .titulo-cursos span{
        width: 317px;
        font-size: 20px;
        font-weight: 400;
        color: #555555;
    }
    .investimento-iniciantes{
        grid-template-columns: 370px;
        padding-top: 0px;
    padding-bottom: 20px;
    }
    .investimento-iniciantes img{
        width: 80%;
        margin-left: 37px;
    }
    .conteudo-investimento h2{
        font-size: 27px;
        margin-bottom: 30px;
        text-align: center;

    }
    .conteudo-investimento p{
        font-size: 18px;
        font-weight: 300;
        line-height: 20.68px;
        margin-bottom: 40px;
        text-align: center;
    }
    .conteudo-investimento button {
        margin-left: 68.5px;
    }
    .poupandoerendendo{
        margin-top: 70px;
    margin-bottom: 40px;
        grid-template-columns: 370px;
    }
    .poupandoerendendo img{
        width: 80%;
        margin-left: 37px;
    }
    .poupandoerendendo h2{
        font-size: 27px;
        margin-bottom: 30px;
        text-align: center;
    }
    .poupandoerendendo p{
        font-size: 18px;
        margin-bottom: 53px;
        text-align: center;
        margin-bottom: 40px;
    }
    .poupandoerendendo button{
        margin-left: 68.5px;
    }
    .independenciafinanceira{
        margin-top: 50px;
        grid-template-columns: 370px;
        
    }
    .independenciafinanceira img{
        width: 80%;
        margin-left: 37px;
    }
    .independenciafinanceira h2{
        font-size: 27px;
        margin-bottom: 30px;
        text-align: center;
    }
    .independenciafinanceira p{
        font-size: 18px;
        margin-bottom: 40px;
        text-align: center;
    }
    .independenciafinanceira button{
        margin-bottom: 50px;
        margin-left: 68.5px;
    }

}