*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Ubuntu", sans-serif;
}
.header {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 244px 310px;
    column-gap: 702px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  }
  .nav{
    display: flex;
    justify-content: space-between;
  }
  
  .nav li{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
    list-style-type: none;
  }
  
  .nav a {
    text-decoration: none;
    color: #FDFDFD;
  }
.investimento-iniciantes{
    width: 100%;
    display: grid;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    grid-template-columns: 461px 380px;
    column-gap: 88px;
}
.investimento-iniciantes h1{
    font-size: 55px;
    font-weight: 700;
    line-height: 63.2px;
    color: #ff4081;
    margin-bottom: 22px;
}
.investimento-iniciantes p{
    font-size: 20px;
    font-weight: 300;
    line-height: 22.98px;
}
.conteudopt2-curso{
    background-color: #f6f6f6;
    width: 100%;
    padding-top: 75px;
}
.videos-curso{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 462px 501px;
    column-gap: 76px;
    margin-bottom: 73px;
}
.videos-curso h3{
    font-size: 35px;
    font-weight: 700;
    line-height: 40.22px;
    color: #ff4081;
    margin-bottom: 26px;
}
.videos-curso p{
    font-size: 20px;
    font-weight: 300;
    line-height: 22.98px;
}
.espaço-video iframe{
    width: 462px;
    height: 261px;
}

.aula2{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 462px 501px;
    column-gap: 76px;
    margin-bottom: 73px;
}
.aula2 h3{
    font-size: 35px;
    font-weight: 700;
    line-height: 40.22px;
    color: #ff4081;
    margin-bottom: 26px;
}
.aula2 p{
    font-size: 20px;
    font-weight: 300;
    line-height: 22.98px;
}
.barracinza1{
    width: 85%;
    height: 3px;
    margin-top: 0px;
    background-color: #c4c4c4;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
}
.barracinza2{
    width: 85%;
    height: 3px;
    margin-bottom: 0px;
    background-color: #c4c4c4;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
}
.aula3{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 462px 501px;
    column-gap: 76px;
    margin-bottom: 73px;
}
.aula3 h3{
    font-size: 35px;
    font-weight: 700;
    line-height: 40.22px;
    color: #ff4081;
    margin-bottom: 26px;
}
.aula3 p{
    font-size: 20px;
    font-weight: 300;
    line-height: 22.98px;
}

@media only screen and (max-width: 1040px) and (min-width: 768px){
    body{
        width: 100%;
    }
    .header {
        grid-template-columns: 710px;
      }
      .header img{
        margin-left: 233px;
      }
      .nav{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 102.5px;
        margin-right: 102.5px;
      }
    .investimento-iniciantes{
        padding-top: 80px;
        padding-bottom: 80px;
        grid-template-columns: 720px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .investimento-iniciantes h1{
        font-size: 35px;
        line-height: 40px;  
        margin-bottom: 22px;
        text-align: center;
    }
    .investimento-iniciantes p{
        font-size: 20px;
        font-weight: 300;
        text-align: center;
    }
    .investimento-iniciantes img{
        width: 80%;
        margin-left: 37px;
        margin-top: 20px;
    }
    .videos-curso{
        grid-template-columns: 720px;
        margin-bottom: 73px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .videos-curso h3{
        margin-bottom: 26px;
        text-align: center;
        margin-top: 15px;
    }
    .videos-curso p{
        text-align: center;
    }
    .espaço-video{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .espaço-video iframe{
        width: 90%;
        height: 261px;
    }
    .aula2{
        grid-template-columns: 720px;
        margin-bottom: 73px;
    }
    .aula2 h3{
        margin-bottom: 26px;
        text-align: center;
        margin-top: 15px;
    }
    .aula2 p{
        text-align: center;
    }
    .aula3{
        grid-template-columns: 720px;
        padding-bottom: 73px;
        margin-bottom: 0px;
    }
    .aula3 h3{
        margin-top: 15px;
        margin-bottom: 26px;
        text-align: center;
    }
    .aula3 p{
        text-align: center;
    }

}
@media only screen and (max-width: 540px) and (min-width: 375px){
    body{
        width: 100%;
    }
    .header {
        grid-template-columns: 350px;
      }
      .header img{
        margin-left: 53px;
      }
      .nav{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      
      .nav li{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        color: #FDFDFD;
        list-style-type: none;
      }
    .investimento-iniciantes{
        padding-top: 80px;
        padding-bottom: 80px;
        grid-template-columns: 370px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .investimento-iniciantes h1{
        font-size: 35px;
        line-height: 40px;  
        margin-bottom: 22px;
        text-align: center;
    }
    .investimento-iniciantes p{
        font-size: 20px;
        font-weight: 300;
        text-align: center;
    }
    .investimento-iniciantes img{
        width: 80%;
        margin-left: 37px;
        margin-top: 20px;
    }
    .videos-curso{
        grid-template-columns: 370px;
        margin-bottom: 73px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .videos-curso h3{
        margin-bottom: 26px;
        text-align: center;
        margin-top: 15px;
    }
    .videos-curso p{
        text-align: center;
    }
    .espaço-video{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .espaço-video iframe{
        width: 90%;
        height: 261px;
    }
    .aula2{
        grid-template-columns: 370px;
        margin-bottom: 73px;
    }
    .aula2 h3{
        margin-bottom: 26px;
        text-align: center;
        margin-top: 15px;
    }
    .aula2 p{
        text-align: center;
    }
    .aula3{
        grid-template-columns: 370px;
        padding-bottom: 73px;
        margin-bottom: 0px;
    }
    .aula3 h3{
        margin-top: 15px;
        margin-bottom: 26px;
        text-align: center;
    }
    .aula3 p{
        text-align: center;
    }

}