*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Ubuntu", sans-serif;
}
.header {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 244px 310px;
    column-gap: 702px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  }
  .nav{
    display: flex;
    justify-content: space-between;
  }
  
  .nav li{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
    list-style-type: none;
  }
  
  .nav a {
    text-decoration: none;
    color: #FDFDFD;
  }
.titulo-cursos{
    margin-top: 81px;
    margin-left: 82px;
    margin-bottom: 95px;
}
.titulo-cursos h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 68.94px;
    color: #ff4081;
}
.titulo-cursos span{
    font-size: 20px;
    font-weight: 400;
    line-height: 22.98px;
    color: #555555;
}
.investimento-iniciantes{
    padding-top: 95px;
    padding-bottom: 68px;
    display: grid;
    grid-template-columns: 380px 724px;
    column-gap: 53px;
    justify-content: center;
    
}
.conteudo-investimento h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 40.22px;
    color: #ff4081;
    margin-bottom: 37px;
}
.conteudo-investimento p{
    font-size: 18px;
    font-weight: 300;
    line-height: 20.68px;
    margin-bottom: 53px;
}
.conteudo-investimento button {
    background-color: #419488;    
    width: 233px;
    height: 51px;
    border-radius: 62px;
    text-decoration: none;
    border: 0px;
}
.conteudo-investimento button a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.98px;
}
.poupandoerendendo{
    margin-top: 107px;
    margin-bottom: 93px;
    display: grid;
    grid-template-columns: 380px 724px;
    column-gap: 53px;
    justify-content: center;
}
.poupandoerendendo h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 40.22px;
    color: #ff4081;
    margin-bottom: 37px;
}
.poupandoerendendo p{
    font-size: 18px;
    font-weight: 300;
    line-height: 20.68px;
    margin-bottom: 53px;
}
.poupandoerendendo button{
    background-color: #419488;    
    width: 233px;
    height: 51px;
    border-radius: 62px;
    border: 0px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.98px;
}
.barracinza1{
    background-color: #c4c4c4;
    height: 5px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.independenciafinanceira{
    margin-top: 93px;
    display: grid;
    grid-template-columns: 380px 724px;
    column-gap: 53px;
    justify-content: center;
    padding-bottom: 200px;
}
.independenciafinanceira h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 40.22px;
    color: #ff4081;
    margin-bottom: 37px;
}
.independenciafinanceira p{
    font-size: 18px;
    font-weight: 300;
    line-height: 20.68px;
    margin-bottom: 53px;
}
.independenciafinanceira button{
    background-color: #419488;    
    width: 233px;
    height: 51px;
    border-radius: 62px;
    border: 0px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.98px;
}
.footer{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 312px 208px 289px;
    column-gap: 183px;
    padding-top: 50px;
    padding-bottom: 42px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}
.nav-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.nav-footer li{
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #ffffff;
    list-style-type: none;
}
.nav-footer a{
    text-decoration: none;
    color: #ffffff;
}
.botao-footer button{
    width: 289px;
    height: 51px;
    background-color: transparent;
    border:#ffffff 2px solid;
    border-radius: 62px;
}
.botao-footer a{
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}
.bt1{
    margin-bottom: 13px;
}
@media only screen and (max-width: 1040px) and (min-width: 768px){
    body{
        width: 100%;
    }
    .header {
        grid-template-columns: 710px;
      }
      .header img{
        margin-left: 233px;
      }
      .nav{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 102.5px;
        margin-right: 102.5px;
      }
    .titulo-cursos{
        display: grid;
        justify-content: center;
        margin-top: 50px;
        margin-left: 0;
        margin-bottom: 50px;
    }
    .titulo-cursos h1{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        color: #ff4081;
    }
    .titulo-cursos span{
        width: 317px;
        font-size: 20px;
        font-weight: 400;
        color: #555555;
    }
    .investimento-iniciantes{
        grid-template-columns: 724px;
        padding-top: 0px;
    padding-bottom: 20px;
    }
    .imagem-iniciantes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .investimento-iniciantes img{
        width: 80%;
        
    }
    .conteudo-investimento h2{
        font-size: 27px;
        margin-bottom: 30px;
        text-align: center;

    }
    .conteudo-investimento p{
        font-size: 18px;
        font-weight: 300;
        line-height: 20.68px;
        margin-bottom: 40px;
        text-align: center;
    }
    .conteudo-investimento button {
        margin-left: 244px;
    }
    .poupandoerendendo{
        margin-top: 70px;
    margin-bottom: 40px;
        grid-template-columns: 724px;
    }
    .poupandoerendendo img{
        width: 80%;
        margin-left: 37px;
    }
    .poupandoerendendo h2{
        font-size: 27px;
        margin-bottom: 30px;
        text-align: center;
    }
    .poupandoerendendo p{
        font-size: 18px;
        margin-bottom: 53px;
        text-align: center;
        margin-bottom: 40px;
    }
    .poupandoerendendo button{
        margin-left: 244px;
    }
    .independenciafinanceira{
        margin-top: 50px;
        grid-template-columns: 724px;
        padding-bottom: 50px;
    }
    .independenciafinanceira img{
        width: 80%;
        margin-left: 37px;
    }
    .independenciafinanceira h2{
        font-size: 27px;
        margin-bottom: 30px;
        text-align: center;
    }
    .independenciafinanceira p{
        font-size: 18px;
        margin-bottom: 40px;
        text-align: center;
    }
    .independenciafinanceira button{
        margin-bottom: 50px;
        margin-left: 244px;
    }
    .footer{
        grid-template-columns: 720px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .imagemfooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .nav-footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-bottom: 25px;
        justify-content: center;
        
    }
    .nav-footer li{
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        color: #ffffff;
        list-style-type: none;
        padding: 0px 15px;
    }
    .nav-footer a{
        text-decoration: none;
        color: #ffffff;
    }
    .botao-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .botao-footer button{
        width: 289px;
        height: 51px;
        background-color: transparent;
        border:#ffffff 2px solid;
        border-radius: 62px;
    }
    .botao-footer a{
        font-size: 20px;
        line-height: 23px;
        font-weight: 400;
        text-decoration: none;
        color: #ffffff;
    }
    .bt1{
        margin-bottom: 13px;
    }
}
@media only screen and (max-width: 540px) and (min-width: 375px){
    body{
        width: 100%;
    }
    .header {
        grid-template-columns: 350px;
      }
      .header img{
        margin-left: 53px;
      }
      .nav{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      
      .nav li{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        color: #FDFDFD;
        list-style-type: none;
      }
    .titulo-cursos{
        display: grid;
        justify-content: center;
        margin-top: 50px;
        margin-left: 0;
        margin-bottom: 50px;
    }
    .titulo-cursos h1{
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        color: #ff4081;
    }
    .titulo-cursos span{
        width: 317px;
        font-size: 20px;
        font-weight: 400;
        color: #555555;
    }
    .investimento-iniciantes{
        grid-template-columns: 370px;
        padding-top: 0px;
    padding-bottom: 20px;
    }
    .investimento-iniciantes img{
        width: 80%;
        margin-left: 37px;
    }
    .conteudo-investimento h2{
        font-size: 27px;
        margin-bottom: 30px;
        text-align: center;

    }
    .conteudo-investimento p{
        font-size: 18px;
        font-weight: 300;
        line-height: 20.68px;
        margin-bottom: 40px;
        text-align: center;
    }
    .conteudo-investimento button {
        margin-left: 68.5px;
    }
    .poupandoerendendo{
        margin-top: 70px;
    margin-bottom: 40px;
        grid-template-columns: 370px;
    }
    .poupandoerendendo img{
        width: 80%;
        margin-left: 37px;
    }
    .poupandoerendendo h2{
        font-size: 27px;
        margin-bottom: 30px;
        text-align: center;
    }
    .poupandoerendendo p{
        font-size: 18px;
        margin-bottom: 53px;
        text-align: center;
        margin-bottom: 40px;
    }
    .poupandoerendendo button{
        margin-left: 68.5px;
    }
    .independenciafinanceira{
        margin-top: 50px;
        grid-template-columns: 370px;
        padding-bottom: 50px;
        
    }
    .independenciafinanceira img{
        width: 80%;
        margin-left: 37px;
    }
    .independenciafinanceira h2{
        font-size: 27px;
        margin-bottom: 30px;
        text-align: center;
    }
    .independenciafinanceira p{
        font-size: 18px;
        margin-bottom: 40px;
        text-align: center;
    }
    .independenciafinanceira button{
        margin-bottom: 50px;
        margin-left: 68.5px;
    }
    .footer{
        grid-template-columns: 350px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .imagemfooter{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .nav-footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-bottom: 25px;
        justify-content: center;
        
    }
    .nav-footer li{
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        color: #ffffff;
        list-style-type: none;
        padding: 0px 15px;
    }
    .nav-footer a{
        text-decoration: none;
        color: #ffffff;
    }
    .botao-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .botao-footer button{
        width: 289px;
        height: 51px;
        background-color: transparent;
        border:#ffffff 2px solid;
        border-radius: 62px;
    }
    .botao-footer a{
        font-size: 20px;
        line-height: 23px;
        font-weight: 400;
        text-decoration: none;
        color: #ffffff;
    }
    .bt1{
        margin-bottom: 13px;
    }

}