*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Ubuntu", sans-serif;
}
.header {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 244px 310px;
    column-gap: 702px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  }
  .nav{
    display: flex;
    justify-content: space-between;
  }
  
  .nav li{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #FDFDFD;
    list-style-type: none;
  }
  
  .nav a {
    text-decoration: none;
    color: #FDFDFD;
  }

.textopost{
    display: grid;
    justify-content: center;
    padding-top: 111px;

}
.textopost h1{
    font-size: 50px;
    line-height: 57.45px;
    font-weight: 500;
    text-align: center;
    color: #ff4081;
    margin-bottom: 12px;
}
.textopost p{
    font-weight: 300;
    font-size: 18px;
    line-height: 20.68px;
    color: #9d9d9d;
    text-align: center;
}
.retangulocinzapost img{
    width: 1032px;
    height: 465px;
    margin-top: 74px;
    margin-bottom: 64px;
}
.textodentrodopost{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1032px;
    margin-bottom: 200px;
    
}
.textodentrodopost p{
    font-size: 18px;
    font-weight: 300;
    line-height: 20.68px;
    text-align: start;
}
.textodentrodopost h3{
    color: #419488;
    line-height: 29.87px;
    font-size: 26px;
    font-weight: 500;
}
.conteudopost-pt2{
    background-color: #f6f6f6;
    width: 100%;
    padding-top: 79px;
}
.conteudopost-pt2 h2{
    color:#ff4081;
    font-size: 50px;
    font-weight: 500;
    line-height: 57.45px;
    margin-bottom: 101px;
    text-align: center;
}
.conheçacursospost{
    display: grid;
    justify-content: center;
    grid-template-columns: 344px 293px 304px;
    column-gap: 121px;
}
.conheçacursospost h3{
    color: #ff4081;
    font-size: 25px;
    font-weight: 700;
    line-height: 28.73px;
    text-align: center;
    margin-bottom: 28.32px;
}
.conheçacursospost p{
    font-size: 17px;
    font-weight: 300;
    line-height: 19.53px;
    text-align: center;
}
.conheçacursospost button{
    background-color: #ff4081;
    color: #ffffff;
    width: 233px;
    height: 63px;
    border-radius: 62px;
    border: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 22.98px;
    margin-top: 32px;
}
.investimento-post{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .poupando-post{
     display: flex;
    flex-direction: column;
    align-items: center;
 }
 .independencia-post{
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 @media only screen and (max-width: 1040px) and (min-width: 768px){
    body{
        width: 100%;
    }
    .header {
        grid-template-columns: 710px;
      }
      .header img{
        margin-left: 233px;
      }
      .nav{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 102.5px;
        margin-right: 102.5px;
      }
    .textopost{
        padding-top: 50px;
        grid-template-columns: 724px;
    }
    .textopost h1{
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 12px;
    }
    .textopost p{
        color: #9d9d9d;
        text-align: center;
    }
    .retangulocinzapost{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .retangulocinzapost img{
        width: 80%;
        height: 350px;
        margin-top: 74px;
        margin-bottom: 64px;
    }
    .textodentrodopost{
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: 724px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .textodentrodopost p{
        font-size: 18px;
        font-weight: 300;
        line-height: 20.68px;
        text-align: center;
    }
    .textodentrodopost h3{
        color: #419488;
        line-height: 29.87px;
        font-size: 27px;
        font-weight: 500;
        text-align: center;
    }
    .conteudopost-pt2{
        display: grid;
        justify-content: center;
        grid-template-columns: 724px;
        padding-top: 40px;
    }
    .conteudopost-pt2 h2{  
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 40px;
        text-align: center;
    }
    .conheçacursospost{
        grid-template-columns: 724px;
        column-gap: 0px;

    }
    .conheçacursospost h3{
        font-size: 22px;
        line-height: 28.73px;
        margin-bottom: 28px;
    }
    .conheçacursospost p{
        font-size: 17px;
        font-weight: 300;
        line-height: 19.53px;
        text-align: center;
    }
    .conheçacursospost button{
        width: 233px;
        height: 43px;
        font-size: 20px;
        line-height: 22.98px;
        margin-top: 32px;
        margin-bottom: 30px;
    }
 }
 @media only screen and (max-width: 540px) and (min-width: 375px){
    body{
        width: 100%;
    }
    .header {
        grid-template-columns: 350px;
      }
      .header img{
        margin-left: 53px;
      }
      .nav{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      
      .nav li{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        color: #FDFDFD;
        list-style-type: none;
      }
    .textopost{
        padding-top: 50px;
        grid-template-columns: 370px;
    }
    .textopost h1{
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 12px;
    }
    .textopost p{
        color: #9d9d9d;
        text-align: center;
    }
    .retangulocinzapost{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .retangulocinzapost img{
        width: 80%;
        height: 350px;
        margin-top: 74px;
        margin-bottom: 64px;
    }
    .textodentrodopost{
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: 370px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .textodentrodopost p{
        font-size: 18px;
        font-weight: 300;
        line-height: 20.68px;
        text-align: center;
    }
    .textodentrodopost h3{
        color: #419488;
        line-height: 29.87px;
        font-size: 27px;
        font-weight: 500;
        text-align: center;
    }
    .conteudopost-pt2{
        display: grid;
        justify-content: center;
        grid-template-columns: 370px;
        padding-top: 40px;
    }
    .conteudopost-pt2 h2{  
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 40px;
        text-align: center;
    }
    .conheçacursospost{
        grid-template-columns: 370px;
        column-gap: 0px;

    }
    .conheçacursospost h3{
        font-size: 22px;
        line-height: 28.73px;
        margin-bottom: 28px;
    }
    .conheçacursospost p{
        font-size: 17px;
        font-weight: 300;
        line-height: 19.53px;
        text-align: center;
    }
    .conheçacursospost button{
        width: 233px;
        height: 43px;
        font-size: 20px;
        line-height: 22.98px;
        margin-top: 32px;
        margin-bottom: 30px;
    }
 }